html, body {
    font-family: sans-serif;
    background: #e5e5e5;
}

table {
    color: #555;
}

table tr:nth-Child(2n) {
    background: rgba(0,0,0,0.1);
}

#app-container {
    margin: 0 auto;
    width: 48em;

    color: #555;
    background: #fff;
}

#app-header {
    color: #fff;
    background: #638fac;

    width: 100%;
}

#app-header h1 {
    padding: 0;
    margin: 0.4em 0 0.2em 0 ;
}

#app-content {

}

#app-content h1,
#app-content h2,
#app-content h3 {
    color: #33;
    font-weight: lighter;
    margin: 0.3em 0 0.2em 0;
}

#app-container h1 small,
#app-container h2 small,
#app-container h3 small {
    font-size: 0.7em;
    font-weight: lighter;
    color: rgba(255,255,255,0.8);
}

#app-content h3 {
    font-size: 1.2em;
    margin: 6px 0 12px 0;
}

section {
    margin: 1em;
    border-radius: 5px;
    border: 4px solid #eee;
}


.l-box {
    padding: 0.5em;
}

.xl-box {
    padding: 1em;
}


/* -------------------------------------- */
/* Mobile Only
/* -------------------------------------- */

@media screen and (max-width: 48em) {
    #app-container {
        width: 100%;
    }
}